# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
/env/
.venv/

# PyCharm project files
.idea/
.DS_Store 
# VSCode project files
.vscode/

# Log files
*.log

# Build directories
build/
dist/
*.egg-info/

# Audio files
*.wav

# DeepSpeech model files
deepspeech-0.9.3-models.pbmm
deepspeech-0.9.3-models.scorer

